@font-face {
    font-family: 'Stapler';
    src: url('../font/ChevyRay - Stapler.ttf') format('truetype');
}

html, body {
    font-family: 'Stapler', sans-serif;

    margin: 0;
    overflow: hidden;

    background-color: black;
    color: white;

    text-align: center;
}

body {
    --scale: 1;
    --pageHeight: 100vh;
    --pageWidth: 100vw;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    background: repeat url('../sprites/title-bg.png');
}

.title h1 {
    font-size: calc(var(--pageHeight) * 0.1);
}

.title p {
    font-size: calc(var(--pageHeight) * 0.05);
}

.title-box {
    flex-grow: 1;
    background: no-repeat center/contain url('../sprites/title-box.png');
}

.hidden {
    display: none;
}
