@font-face {
    font-family: 'Stapler';
    src: url('../font/ChevyRay - Stapler.ttf') format('truetype');
}

@font-face {
    font-family: 'Picory';
    src: url('../font/ChevyRay - Picory.ttf') format('truetype');
}

html, body {
    font-family: 'Picory', sans-serif;

    margin: 0;
    overflow: hidden;

    background-color: black;
    color: white;

    text-align: center;
}

body {
    --scale: 1;
    --pageHeight: 100vh;
    --pageWidth: 100vw;
}

// Make link text a little lighter
a {
    color: #5c7aff;
}

// Also for visited links
a:visited {
    color: #ca95ff;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--pageHeight);
    width: var(--pageWidth);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    background: repeat url('../sprites/title-bg.png');

    font-family: 'Stapler', sans-serif;
}

.title h1 {
    font-size: calc(var(--pageHeight) * 0.1);
}

.title p {
    font-size: calc(var(--pageHeight) * 0.05);
}

.title-box {
    flex-grow: 1;
    background: no-repeat center/contain url('../sprites/title-box.png');
}

.instructions {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--pageWidth);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    font-size: 32px;
}

.instructions p {
    max-width: 800px;
}

.hidden {
    display: none;
}
